<h1>Edit User</h1>
<script>
    $(document).ready(function() {
        $('#user_form').on('ajax:success', function (event, data, status, xhr) {
            if (!$("#error_explanation").length) {
                $("#user_form").prepend("<div id='error_explanation' />");
            }

            reset_textbox_background('user_');
            $('#error_explanation').html('<b>' + data.message + '</b>');
        });
        $('#user_form').on('ajax:error', function (event, data, status, xhr) {
            if (!$("#error_explanation").length) {
                $("#user_form").prepend("<div id='error_explanation' />");
            }

            if ('errors' in data.responseJSON)
                $('#error_explanation').html(render_errors('user_', data.responseJSON));
            else
                $('#error_explanation').html('<b>' + data.responseJSON.message + '</b>');
        });
    });
</script>
<%= render 'form', :button_name => 'Save Edits' %>