<h1>New Password</h1>
<p>
  You have successfully reset your password. It is now the following:<br/>
  <%= @password %><br/><br/>
  Please change the password by going to your Profile in the Events Hub.
</p>