<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Forgotten Password</h1>
<p>
  Someone has requested to reset the password associated with this email.
</p>
<p>
  If this was you, please validate your account by clicking on the following link:<br/>
  <%= link_to @url, @url %><br/><br/>
  Otherwise please ignore this email.
</p>
</body>
</html>