<h1>Forgotten Password</h1>
<p>
  Someone has requested to reset the password associated with this email.
</p>
<p>
  If this was you, please click here to reset your password:<br/>
  <%= link_to @url, @url %><br/><br/>
  Otherwise please ignore this email.
</p>