<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to the Events Hub, <%= @user.first_name %></h1>
<p>
    Please validate your account by clicking on the following link:<br/>
    <%= link_to @url, @url %>
</p>
</body>
</html>