<div class="col-lg-4">
  <h1>Admin Control Panel</h1>
  <div class="well bs-component">
    <h3><%= link_to "Users", users_path %></h3>
    <h3><%= link_to "Reports", users_path %></h3>
  </div>
</div>