
    <style>
      html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      #legend {
        background: #4e5d6c;
        padding: 15px 20px 10px 20px;
        margin: 10px;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
        
      #links {
        font-size: 15px;
        background: #4e5d6c;
        padding: 10px;
        margin: 10px;
      }
      #links h3 {
        margin-top: 0;
      }
      #links img {
        vertical-align: middle;
      }
    </style>
    <script type="text/javascript">
      var map;
      var markers = [];
      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: new google.maps.LatLng(49.2780937,-122.922072),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        
        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          Concert: {
            name: 'Concert',
            icon: iconBase + 'parking_lot_maps.png'
          },
          Emergency: {
            name: 'Emergency',
            icon: iconBase + 'library_maps.png'
          },
          LocalEvent: {
            name: 'Local Event',
            icon: iconBase + 'info-i_maps.png'
          }
        };

        function addMarker(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
          markers.push(marker);
        }

        function clearAndDeleteMarkers() {
          for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
          markers = [];
        }

        var legend = document.getElementById('legend');
        for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);  
          
          var linkIcons = {
          <% if !logged_in? %>
            Login: {
                name:'<a href="login">Login</a>'
            },
            Signup: {
                name:'<a href="register">Sign up</a>'
            },
          <% else %>
            Logout: {
              name:'<a href="logout">Logout</a>'
            },
            Profile: {
              name:'<a href="profile">Your Profile</a>'
            },
            <% if current_user.is_administrator? %>
              Users: {
                name:'<a href="users">User List</a>'
              },
            <% end %>
          <% end %>
          EventsLists: {
              name:'<a href="events/new">Add Events</a>'
          },
          Notifications: {
              name:'<a>Notifications - NA </a>'
          }
        };

        var links = document.getElementById('links');
        for (var key in linkIcons) {
          var type = linkIcons[key];
          var name = type.name;
          var div = document.createElement('div');
          div.innerHTML = name;
          links.appendChild(div);
        }
          
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(links);

        google.maps.event.addListener(map, 'idle', function() {
          var bounds = map.getBounds();
          var sw = bounds.getSouthWest();
          var ne = bounds.getNorthEast();
          
          $.getJSON("<%= events_path %>.json?lat_ne=" + ne.lat() + "&lat_sw=" + sw.lat() + "&long_sw=" + sw.lng() + "&long_ne=" + ne.lng(), function(data) {
            clearAndDeleteMarkers();
            $.each(data, function (key, value) {
              var feature = { position: new google.maps.LatLng(value['Latitude'], value['Longitude']),
                type: 'LocalEvent' };

              addMarker(feature);
            });
          }).fail(function() {
              alert("Error occurred fetching events.");
          });
        });
      }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initialize">
    </script>
    <body>
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
            <% end -%>
            <div id="map"></div>
            <div id="legend"><h3>Legend</h3></div>
            <div id="links"><h3>Remove This Please</h3></div>

    </body>
