<h1 style="padding:0px 0px 0px 15px">Edit User</h1>
<script>
    $(document).ready(function() {
        $('#user_form').on('ajax:success', function (event, data, status, xhr) {
            reset_textbox_background('user_');

            $('#messages').html(create_alert_box('success', data.message));
        });
        $('#user_form').on('ajax:error', function (event, data, status, xhr) {
            if ('errors' in data.responseJSON)
                $('#messages').html(render_errors('user_', data.responseJSON));
            else
                $('#messages').html(create_alert_box('danger', data.responseJSON.message));
        });

        $('#reset-password').click(function() {
          $.post("<%= forget_url %>", "email=<%= @user.email %>", function(data, textStatus) {
            $('#messages').html(create_alert_box('success', data.message));
          }, "json").fail(function(jqXHR, textStatus, errorThrown) {
            $('#messages').html(create_alert_box('danger', jqXHR.responseJSON.message));
          });
        });
      });
</script>
<%= render 'form', :button_name => 'Save Edits' %>

<% if current_user.is_administrator? or @user.id == current_user.id %>
<a href='<%= user_path(@user) %>' data-method='delete' rel='nofollow' data-confirm='Are you sure?'>Delete Account</a>
<% end %>