<script>
    $(document).ready(function() {
        $('#email_form').on('ajax:success', function (event, data, status, xhr) {
            $('#messages').html('<div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">×</button><b>' + data.message + '</b></div>');
        });
        $('#email_form').on('ajax:error', function (event, data, status, xhr) {
            $('#messages').html('<div class="alert alert-dismissible alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><b>' + data.responseJSON.message + '</b></div>');
        });
    });
</script>
<div class="col-lg-4">
  <h1>Forgot Password</h1>
  <div class="well bs-component">
    <div id="messages"></div>
    <%= form_tag forget_path, id: 'email_form', 'data-type' => 'json', remote: true do  %>

        <div class="field">
          <span style="color: white">Please enter the email associated with your account:</span><br>
          <%= text_field_tag "email", nil, class:"form-control" %>
        </div>
        <div class="actions">
          <br>
          <%= submit_tag "Submit", class:"btn btn-success", style:"color:white" %>
        </div>
    <% end %>
  </div>
</div>