<script>
  var page = 0;

  function get_page(next)
  {
      if (next)
        page++;
      else if (page > 1)
        page--;
      else
        return;

      $("#users-table-body").html("");
      $.getJSON("<%= request.path %>.json?page=" + page, function(data) {
          $.each(data, function (key, value) {
              $("#users-table-body").append("<tr>" +
                  "<td>" + value['username'] + "</td>" +
                  "<td>" + value['email'] + "</td>" +
                  "<td>" + value['first_name'] + "</td>" +
                  "<td>" + value['last_name'] + "</td>" +
                  "<td>" + value['is_administrator?'] + "</td>" +
                  "<td>" + value['is_promoter?'] + "</td>" +
                  "<td><a href='" + value['user_url'] + "'>Profile</a></td>" +
                  "<td><a href='" + value['edit_url'] + "'>Edit</a></td>" +
                  "<td><a href='" + value['user_events_url'] + "'>Events</a></td>" +
                  "</tr>");
          });
      }).fail(function() {
          alert("An error occurred fetching the user list.");
      });
  }

  $(document).ready(function() {
      $('#prev-page').click(function(){ get_page(false); return false; });
      $('#next-page').click(function(){ get_page(true); return false; });
      get_page(true);
  });
</script>
<h1 style="padding:0px 0px 0px 15px">Users Index</h1>
<div class="col-lg-8">
  
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Admin</th>
        <th>Promoter</th>
        <th width='4'/>
      </tr>
      </thead>
      <tbody id="users-table-body" />
    </table>
    <a id="prev-page" class="btn btn-primary">Previous Page</a>   <a id="next-page" class="btn btn-primary">Next Page</a>
</div>
