
<h1 style="padding:0px 0px 0px 15px">User Registration</h1>
<script>
    $(document).ready(function() {
        $('#user_form').on('ajax:success', function (event, data, status, xhr) {
            reset_textbox_background('user_');

            $('#messages').html(create_alert_box('success', data.message));

            setTimeout(function() { window.location.replace(data.redirect) }, 1000);
        });
        $('#user_form').on('ajax:error', function (event, data, status, xhr) {
            $('#messages').html(render_errors('user_', data.responseJSON));
        });
    });
</script>
<%= render 'form', :button_name => 'Sign Up' %>
