<style>

  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
  }
  
</style>
<script>
    var page = 0;

    function get_page(next)
    {
        if (next)
            page++;
        else if (page > 1)
            page--;
        else
            return;

        $("#events-table-body").html("");
        $.getJSON("<%= request.path %>.json?page=" + page, function(data) {
            $.each(data, function (key, value) {
                $("#events-table-body").append("<tr>" +
                        "<td>" + value['Title'] + "</td>" +
                        "<td>" + value['Description'] + "</td>" +
                        "<td>" + value['Address'] + "</td>" +
                        "<td>" + value['Latitude'] + "</td>" +
                        "<td>" + value['Longitude'] + "</td>" +
                        "<td>" + value['Category'] + "</td>" +
                        "<td>" + value['StartDay'] + "</td>" +
                        "<td>" + value['StartMonth'] + "</td>" +
                        "<td>" + value['StartYear'] + "</td>" +
                        "<td>" + value['EndDay'] + "</td>" +
                        "<td>" + value['EndMonth'] + "</td>" +
                        "<td>" + value['EndYear'] + "</td>" +
                        "<td>" + value['StartHour'] + ":" + value['StartMinute'] + "</td>" +
                        "<td>" + value['EndHour'] + ":" + value['EndMinute'] + "</td>" +
                        "<td><a href='" + value['show_url'] + "'>Show</a></td>" +
                        "<td><a href='" + value['edit_url'] + "'>Edit</a></td>" +
                        "<td><a data-confirm='Are you sure?' rel='nofollow' data-method='delete' href='"+ value['destroy_url'] + "'>Destroy</a></td>" +
                        "</tr>");
            });
        }).fail(function() {
            alert("An error occurred fetching the events list.");
        });
    }

    $(document).ready(function() {
        $('#prev-page').click(function(){ get_page(false); return false; });
        $('#next-page').click(function(){ get_page(true); return false; });
        get_page(true);
    });
</script>
<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Category</th>
      <th>Start Day</th>
      <th>Start Month</th>
      <th>Start Year</th>
      <th>End Day</th>
      <th>End Month</th>
      <th>End Year</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="events-table-body" />
</table>
<a id="prev-page">Previous Page</a> | <a id="next-page">Next Page</a>

<br>

<%= link_to 'New Event', new_event_path %>
