<center>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
        #links {
        font-family: Arial, sans-serif;
        font-size: 15px;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #links h3 {
        margin-top: 0;
      }
      #links img {
        vertical-align: middle;
      }
        
        
        
        
    </style>
    <script>
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: new google.maps.LatLng(49.2780937,-122.922072),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
                  
          var linkIcons = {
          Login: {
              name:'<a href="login">Login</a>'
          },Logout: {
            name:'<a href="logout">Logout</a>'
          },
          Signup: {
              name:'<a href="register">Sign up</a>'
          },
          EventsLists: {
              name:'<a href="events">Edit Events</a>'
          },
          Notifications: {
              name:'<a href="events">Notifications</a>'
          }
        };

        var links = document.getElementById('links');
        for (var key in linkIcons) {
          var type = linkIcons[key];
          var name = type.name;
          var div = document.createElement('div');
          div.innerHTML = name;
          links.appendChild(div);
        }
          
                
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(links);
          
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
<h1>New Event</h1>

    <div id="content" style="width:70%">
        <div id="form" style="width:100%">
            <%= render 'form' %>
        </div>
        
        <div id= "button" style="width:100%">
            <%= link_to 'Back', events_path %>
        </div>
    </div>
</center>
