<div id="content">
    <div id="form">
        <h1 style="padding:0px 0px 0px 15px">New Event</h1>
        <%= render 'form' %>
handler = Gmaps.build('Google');
handler.buildMap(
  {
    provider: {
      disableDefaultUI: true
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script>
                function initialize() {
                    var mapCanvas = document.getElementById('map');
                    var mapOptions = {
                        center: new google.maps.LatLng(49.2780937, -122.922072),
                        zoom: 11,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    var map = new google.maps.Map(mapCanvas, mapOptions)
                    google.maps.event.addListener(map, 'click', function (event) {
                        addMarker(event.latLng, map);
                    });
                }

                function addMarker(location, map) {
                    // Add the marker at the clicked location, and add the next-available label
                    // from the array of alphabetical characters.
                    var marker = new google.maps.Marker({
                        position: location,
                        label: labels[labelIndex++ % labels.length],
                        map: map
                    });
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>    },
    internal: {
      id: 'map'
    }
  },
  function() {
    markers = handler.addMarkers([
      {
        "lat": 0,
        "lng": 0,
        "picture": {
          "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
          "width":  36,
          "height": 36
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
    </div>