
<script>
    var page = 0;

    function get_page(next)
    {
        if (next)
            page++;
        else if (page > 1)
            page--;
        else
            return;

        $("#events-table-body").html("");
        $.getJSON("<%= request.path %>.json?page=" + page, function(data) {
            $.each(data, function (key, value) {
              if (value['user_url'] == null) {
                $("#events-table-body").append("<tr>" +
                    "<td><a href='" + value['show_url'] + "'>" + value['Title'] + "</a></td>" +
                    "<td>" + value['Description'] + "</td>" +
                    "<td>" + value['username'] + "</td>" +
                    "<td>" + value['Address'] + "</td>" +
                    "<td>" + value['Category'] + "</td>" +
                    "<td>" + value['StartDate'] + " " + value['StartTime'] + "</td>" +
                    "<td>" + value['EndDate'] + " " + value['EndTime'] + "</td>" +
                    "</tr>");
              } else {
                $("#events-table-body").append("<tr>" +
                    "<td><a href='" + value['show_url'] + "'>" + value['Title'] + "</a></td>" +
                    "<td>" + value['Description'] + "</td>" +
                    "<td><a href='" + value['user_url'] + "'>" + value['username'] + "</a></td>" +
                    "<td>" + value['Address'] + "</td>" +
                    "<td>" + value['Category'] + "</td>" +
                    "<td>" + value['StartDate'] + " " + value['StartTime'] + "</td>" +
                    "<td>" + value['EndDate'] + " " + value['EndTime'] + "</td>" +
                    "</tr>");
              }
            });
        }).fail(function() {
            alert("An error occurred fetching the events list.");
        });
    }

    $(document).ready(function() {
        $('#prev-page').click(function(){ get_page(false); return false; });
        $('#next-page').click(function(){ get_page(true); return false; });
        get_page(true);
    });
</script>

<h1 style="padding:0px 0px 0px 15px">Events Index</h1>
<div class="col-lg-8">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Posted By</th>
        <th>Address</th>
        <th>Category</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>

    <tbody id="events-table-body" />
  </table>


  <a id="prev-page" class="btn btn-primary">Previous Page</a>  <a id="next-page" class="btn btn-primary">Next Page</a>
  <br><br>
  <%= link_to 'New Event', new_event_path, class:"btn btn-primary"%>
</div>